header{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    background-color:$tertiary;
    margin-bottom:90px;
    .headerImgContainer {
        width:45%;
        img{
            max-width:100%;
            vertical-align:middle;
        }
    }
    .headerContent {
        width:55%;
        color:$primary;
        .contentContainer {
            width: 65%;
            margin: 0 auto;
        }
    }
}