header{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    background-color:$tertiary;
    margin-bottom:90px;
    .headerImgContainer {
        width:45%;
        img{
            max-width:100%;
            vertical-align:middle;
        }
    }
    .headerContent {
        width:55%;
        color:$primary;
        .contentContainer {
            width: 65%;
            margin: 0 auto;
        }
    }
}

// CONTACT PAGE HEADER

.contactHeader {
    background-color: $quarternary;
    padding-top: 120px;
    position:relative;
    .contactContent {
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align: center;
        padding-bottom: 50px;
    }
}

.contactHeader::after {
    content:'';
    background-image: url(../assets/wave.svg);
    background-repeat:no-repeat;
    background-size: 100% 150px;
    // background-size is just for the size of the background image, NOT of the container (so you need a specified height/width on the ::after element)
    height: 150px;
    width:100%;
    // position:absolute;
}