// you can put your nav styles in your base styles too
.announcements{
    padding:10px 0;
    text-align: center;
    border-bottom:1px solid rgba(8,75,109,0.1);
    // you can also use rgba($color:$primary, $alpha: 0.1)
}

.navBar{
    position: sticky;
    top:0;
    z-index:10;
    background-color: $solidWhite;
    border-bottom:1px solid rgba(8,75,109,0.1);
    // remember to always set the position of when sticky is going to kick in (in this case, when it reaches the top of the page)
    .wrapper{
        display:flex;
        justify-content: space-between;
        padding: 20px 0;
        .searchCart{
            display:flex;
            .searchIcon,
            .bag {
                margin-right:15px;
            }
        }
    }
    .logo {
        margin-left: 60px;
    }
    .counter {
        display:flex;
        align-items: center;
        p {
            background-color: $primary;
            color:$solidWhite;
            width: 24px;
            height:24px;
            border-radius:50%;
            text-align:center;
        }
    }
}

.slideOutNav {
    height: 100vh;
    width: 100%;
    max-width: 506px;
    background-color: $primary;
    color: $solidWhite;
    padding: 35px 50px;
    border: 1px solid $secondary;
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left: -506px;
    z-index:20;
    transition: 0.75s;
    hr {
        width: 24px;
        height:2px;
        margin: 36px 0;
        background-color:$solidWhite;
    }
    .mainMenu {
        a{
            font-family:$headingFont;
            font-size:1.6rem;
            line-height:2.5rem;
            color:$solidWhite;
            &:hover,
            &:focus {
                color:rgba($color:$solidWhite, $alpha:0.5);
            }
        }
    }
    .legal {
        font-family:"Jakarta Sans";
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.5rem;
        color: rgba($color:$solidWhite, $alpha:0.5);
        &:hover,
        &:focus {
            color:$solidWhite;
        }
    }
}

input[type=checkbox] {
    opacity:0;
    position:absolute;
    &:checked ~ .slideOutNav{
        left:0;
    }
    &:focus + label {
        // the + is the adjacent selector (in this case, the next one that is also focused
        border: 1px dotted $primary;
    }
}
label {
    cursor:pointer;
}

.buttonContainer {
    display:flex;
    justify-content: flex-end;
    button {
        color:$solidWhite;
        background-color: transparent;
        font-size: 1.2rem;
        font-family:$bodyFont;
        padding: 10px 0 10px 20px;
    }
}